<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jira Invoicing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <% if @current_user %>
          <%= render "layouts/navbar", current_user: @current_user %>
        <% end %>
        <div class="col py-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
